<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Satinder Singh is a research engineer working at Netradyne" />
    <meta http-equiv="X-UA Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="IzcWMgn5Qjf-LCtA337KTGjivsf9bmod_1pZ-jxYQh8" />
    <title>Satinder Singh - ML Engineer</title>
    <!-- Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/global.css" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body id="home">
    <header id="hero">
        <nav id="navbar-scroll" class="navbar">
            <h1 class="logo">
                <a href="#home"><img src="static/images/home/logo.png" alt="Gold Nova 4" /></a>
            </h1>
            <div id="menu">
                <ul class="nav-menu">
                    <li class="nav-items">
                        <a href="#about" class="nav-link"><i class="nav-icon fas fa-user"></i> ABOUT</a
                        >
                  </li>
                  <li class="nav-items">
                     <a href="#experience" class="nav-link"><i class="nav-icon fas fa-user"></i> EXPERIENCE</a
                        >
                  </li>
                  <li class="nav-items">
                     <a href="#projects" class="nav-link"
                        ><i class="nav-icon fas fa-code"></i> PROJECTS</a
                        >
                  </li>
                  <li class="nav-items">
                     <a href="#photography" class="nav-link"
                        ><i class="nav-icon fa fa-camera"></i> PHOTOGRAPHY</a
                        >
                  </li>
                  <li class="nav-items">
                     <a href="#videography" class="nav-link"
                        ><i class="nav-icon fa fa-film"></i> VIDEOGRAPHY</a
                        >
                  </li>
               </ul>
               <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
               </div>
            </div>
         </nav>
         <section class="content container">
            <div class="content-text">
               <h1>Satinder Singh<span class="underline"></span></h1>
               <h2 class="text-secondary">Machine Learning Engineer,</h2>
               <h2 class="text-secondary">hobbyist Photographer</h2>
               <h2 class="text-secondary">& Videographer</h2>
               <p>
                  I love what I do (mostly &#128521)
               </p>
               <div class="iconss">
                  <a href="https://github.com/satinder147" title="Github" target="_blank" class="fab fa-github"></a>
                        <a href="https://www.linkedin.com/in/satinder-singh-13a13315b/" title="Linkedin" target="_blank" class="fab fa-linkedin"></a>
                        <a href="https://www.youtube.com/@reactorscience" title="Youtube" target="_blank" class="fab fa-youtube"></a>
            </div>
            </div>
            <div class="content-image">
                <div class="overlay-icons"></div>
                <img src="static/images/home/image.jpg" alt="A portrait of Satinder Singh" />
            </div>
            </section>
    </header>
    <main>
        <!-- About Section -->
        <section id="about">
            <div class="bio container">
                <h2 class="head-text" style="padding-top: 2rem;">
                    ABOUT ME
                </h2>
                <p>
                    Hello! My name is Satinder Singh. For all my life, I have been very interested in how things work and the science behind them. My interest in software engineering started back in 2016 when I enrolled in a computer science course at
                    <a target="_blank" href="https://www.aitpune.com/" style="color: var(--primary-color);text-decoration: none;">Army Institute of Technology</a>.
                </p>
                <p>
                    Fast forward {{total_experience}} years, I have learnt a ton of things from various principles of computer science but have particularly developed interest in building scalable machine learning systems.
                </p>
                <br>
                <h2 class="head-text" style="padding-top: 2rem;">
                    SKILLS
                </h2>
                <div class="skillss"></div>
                <table>
                    <tr>
                        <td class="table-field">Languages</td>
                        <td>Python, C++</td>
                    </tr>
                    <tr>
                        <td class="table-field">AWS</td>
                        <td>S3, SQS, SES, RDS, EC2</td>
                    </tr>
                    <tr>
                        <td class="table-field">Databases</td>
                        <td>Postgresql</td>
                    </tr>
                    <tr>
                        <td class="table-field">Python</td>
                        <td>Numpy, Pandas, Pytorch, Opencv, Dash, Jupyter notebooks</td>
                    </tr>
                    <tr>
                        <td class="table-field">Machine Learning algorithms</td>
                        <td>Multi-Layer Perceptrons, Convolutional Neural Networks, Linear Models(Logistic Regression, Linear Regression, Lasso Regression, Ridge Regression), Tree Based algorithms (Decision trees, Random Forests), Naive Bayes, Clustering(K-means, Agglomerative, DBSCAN).</td>
                    </tr>
                    <tr>
                        <td class="table-field">Others</td>
                        <td>Docker, Supervisor, Tmux</td>
                    </tr>
                    <tr>
                        <td class="table-field">Editors</td>
                        <td>Pycharm</td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="experience">
            <div class="bio container" style="display: flex;">
                <h2 class="head-text" style="margin-top: 4rem;">
                    EXPERIENCE
                </h2>
                <div class="card-content" style="padding-left: 0%;">
                    <div class="job-names">
                        <ul onclick="change_job_description(event);" class='job-names-ul' style="padding: 0;">
                            <li id="netradyne" class='company-name'>Netradyne</li>
                        </ul>
                        <div class="jobs" style="padding: 0.5rem">
                            <div class="job-netradyne" style="min-width: 50vw;">
                                <p style="margin: 0;">Senior Research Engineer <a target="_blank" href="https://www.netradyne.com/" style="color: var(--primary-color); text-decoration: none;">@ Netradyne</a></p>
                                <p style="margin-top: 0; color: var(--text-secondary-color); font-size: 1rem;">Aug 2020 - Present</p>
                                <ul style="list-style: disc">
                                    <li>
                                        Large scale Face Recognition
                                        <ul>
                                            <li>Key point indicators, precision 99%, recall 80%</li>
                                            <li>Scaled the system from 100 customers to 3000 customers</li>
                                        </ul>
                                    </li>
                                    <li>Built a pipeline to fetch videos from devices</li>
                                    <li>Built a pipeline to compute and compare KPIS for different algorithms</li>
                                    <li>Designed and built video review framework</li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects Section-->
        <section id="projects" class="container">
            <h2 class="head-text" style="margin-top: 3rem;">
                FEATURED PROJECTS
            </h2>
            <div id="project-full">
                <!-- Page 1 -->
                <article class="project-content">
                    <div class="project-image project-image-one">
                        <img src="static/images/projects/work-in-progress.jpg" alt="Dolly Zoom Image" />
                    </div>
                    <div class="card-content">
                        <h2>Dolly Zoom</h2>
                        <p>
                            Generates vertigo effect from a video.
                        </p>
                        <div class="project-info">
                            <div class="stack">
                                <small class="language">Python3</small>
                                <small class="language">Flask</small>
                                <small class="language">Opencv</small>
                            </div>
                            <div class="project-links">
                                <a href="https://github.com/satinder147/dolly_zoom" target="_blank"><i class="fab fa-github"></i
                              ></a>
                                <a href="https://satindersh.com/dolly"><i class="fas fa-external-link-alt"></i
                              ></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="project-content">
                    <div class="project-image project-image-two">
                        <img src="static/images/projects/expense-tracker.png" alt="Expense Tracker Flowchart" />
                    </div>
                    <div class="card-content">
                        <h2>Monthly Expense Tracker</h2>
                        <p>
                            Updates google keeps with all the transactions I have made throughout the month.
                        </p>
                        <div class="project-info">
                            <div class="stack">
                                <small class="language">Python3</small>
                                <small class="language">AWS SES</small>
                                <small class="language">AWS S3</small>
                                <small class="language">AWS Lambda</small>
                            </div>
                            <div class="project-links">
                                <a href="https://github.com/satinder147/expense-tracker" target="_blank"><i class="fab fa-github"></i
                              ></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="project-content">
                    <div class="project-image project-image-three">
                        <img src="static/images/projects/deepway.png" alt="Hashnode Clone" />
                    </div>
                    <div class="card-content">
                        <h2>DeepWay</h2>
                        <p>
                            Autonomous navigation for blind with haptic feedback.
                        </p>
                        <div class="project-info">
                            <div class="stack">
                                <small class="language">Python3</small>
                                <small class="language">Pytorch</small>
                                <small class="language">Arduino</small>
                                <small class="language">Nvidia Jetson</small>
                            </div>
                            <div class="project-links">
                                <a href="https://github.com/satinder147/DeepWay.v2" target="_blank"><i class="fab fa-github"></i
                              ></a>
                                <a href="https://www.youtube.com/watch?v=ks8Rsd65RnM" target="_blank"><i class="fab fa-youtube"></i
                              ></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- Space -->
            <h2 class="head-text">
                OTHER PROJECTS
            </h2>
            <div class="project-container">
                <div class="card">
                    <div class="icon-header">
                        <a href="https://github.com/satinder147/stone_paper_scissor_defeator_using_opencv_keras" target="_blank" rel="no-opener no-referrer" title="Github"><span class="fab fa-github"></span
                        ></a>
                        <a href="https://youtube.com/watch?v=ecSDKWkktOw&feature=shares" target="_blank" rel="no-opener no-referrer" title="Youtube"><span class="fab fa-youtube"></span
                        ></a>
                    </div>
                    <header>
                        <h3>Stone Paper Scissor Defeator</h3>
                        <p>
                            Robotic hand plays stone paper scissor's with you and defeats you 100% of the time.
                        </p>
                    </header>
                    <ul>
                        <li class="language">Python</li>
                        <li class="language">Keras</li>
                        <li class="language">Arduino</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="icon-header">
                        <a href="https://github.com/satinder147/Attendance-using-Face" target="_blank" rel="no-opener no-referrer" title="Github"><span class="fab fa-github"></span
                        ></a>
                    </div>
                    <header>
                        <h3>Face Recognition</h3>
                        <p>
                            Recording student attendance from face.
                        </p>
                    </header>
                    <ul>
                        <li class="language">Python</li>
                        <li class="language">Keras</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="icon-header">
                        <a href="https://github.com/satinder147/good_image_selector" target="_blank" rel="no-opener no-referrer" title="Github"><span class="fab fa-github"></span
                        ></a>
                    </div>
                    <header>
                        <h3>Good Images Selector</h3>
                        <p>
                            Helps me pick best images from a lot of images (in order of thousands).
                        </p>
                    </header>
                    <ul>
                        <li class="language">Python</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- photography section -->
        <section id="photography">
            <div id="photography-div" class="container" style="padding-top:5rem;">
                <div class="skills">
                    <div class="box-header">
                        <h3 class="text-primary head-text">
                            hobbyist Photographer
                        </h3>
                        <p>
                            I try to document every moment of my life through photos and videos. In the past few years, I have developed a lot of interest in learning to take better photographs. Here are some of my clicks. Follow me on instagram at
                            <a href="https://www.instagram.com/world_through_satinders_lens" target="_blank" style="color: var(--primary-color);">@ world_through_satinders_lens</a>.
                        </p>
                    </div>
                    <div class="box-container">
                        <div class="card">
                            <a href="https://www.instagram.com/p/Cf4A1HVvKa-" target="_blank">
                                <img src="static/images/instagram/monkeys.png" alt="instagram image 2">
                            </a>
                        </div>
                        <div class="card">
                            <a href="https://www.instagram.com/p/CgH2zpMvvl5" target="_blank">
                                <img src="static/images/instagram/sidara.png" alt="instagram image 1">
                            </a>
                        </div>
                        <div class="card">
                            <a href="https://www.instagram.com/p/CfPa5mQPCj_" target="_blank">
                                <img src="static/images/instagram/plane.png" alt="instagram image 3">
                            </a>
                        </div>
                        <div class="card">
                            <a href="https://www.instagram.com/p/CdTeHl2tY4J" target="_blank">
                                <img src="static/images/instagram/mothers-day.png" alt="instagram image 4">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- videography section -->
        <section id="videography">
            <div id="videography-div" class="container">
                <div class="skills">
                    <div class="box-header">
                        <h3 class="text-primary head-text">
                            hobbyist Videographer
                        </h3>
                        <p style="font-style: var(--font-sans);">
                            Like photography, I have developed a lot of interest in making and editing videos. Here is a glimpse of my work. Videos are present on my youtube channel <a href="https://www.youtube.com/channel/UCVu2Ie45Bh89lpdg7ezdMyg" target="_blank"
                                style="color: var(--primary-color);">@ reactor science</a>
                        </p>
                    </div>
                    <div class="box-container" style="width: 100%;">
                        <div class="card">
                            <a target="_blank" href="https://www.youtube.com/watch?v=EQTeJEkITAQ">
                                <img src="static/images/videos/bangloreambalabanglore2022.gif" alt="ambala video gif">
                            </a>
                        </div>
                        <div class="card">
                            <a target="_blank" href="https://www.youtube.com/watch?v=pSp0nqa8UiA">
                                <img src="static/images/videos/pondicherry.gif" alt="pondicherry video gif">
                            </a>
                        </div>
                        <div class="card">
                            <a target="_blank" href="https://www.youtube.com/watch?v=Df4c07M2UM8">
                                <img src="static/images/videos/goa.gif" alt="goa video gif">
                            </a>
                        </div>
                        <div class="card">
                            <a target="_blank" href="https://www.youtube.com/watch?v=ESwPf8dVxW0">
                                <img src="static/images/videos/rajasthan.gif" alt="rajasthan video gif">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container" style="padding: 1rem;">
            <div class="footer-container">
                <p>UI inspiration taken from
                    <a href="https://www.victoreke.com/" target="_blank" style="color: var(--primary-color);"> Victor Eke's</a> and
                    <a href="https://brittanychiang.com/" target="_blank" style="color: var(--primary-color);">Brittany Chang's</a> website's
                </p>
            </div>
        </div>
    </footer>
    <script src="static/main.js"></script>
</body>

</html>